streamlit
plotly
pandas
numpy
yfinance
scikit-learn
tensorflow-cpu
feedparser
transformers
--extra-index-url https://pytorch.org
torch
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git
